@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Pretendard-Regular";
  width: 100%;
}

#overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 5;
}

.overlay {
  position: relative;
  /* top: 20px; */
  /* left: 20px; */
  z-index: 10;
  color: white;
  font-size: 16px;
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); */
}

.highlight {
  /* top: 50px; */
  color: #598ef8;
  font-size: 16px;
}

.button-background {
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 50px;
  background-color: white;
}

.button-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom-btn i {
  line-height: 1;
  font-size: 24px;
  margin: 0;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.button-container button {
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

button {
  margin: 20px;
  border-radius: 50%;
  font-family: "Pretendard-Regular";
}

.custom-btn {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  padding: 50px 50px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-4 {
  background-color: #598ef8;
  background-image: linear-gradient(315deg, #598ef8 0%, #89a8f3 74%);
  line-height: 42px;
  padding: 0;
  margin: 10px 0;
  border: none;
}
.btn-4:hover {
  background-color: #89a8f3;
  background-image: linear-gradient(315deg, #89a8f3 0%, #598ef8 74%);
}
.btn-4 span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: 0.1px;
}
.btn-4:after {
  width: 0%;
  height: 0.1px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 0.1px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: 0.1px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15rem;
  color: #598ef8;
  font-weight: bold;
  display: none;
  z-index: 25;
}

/* #video-container {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ccc; 
} */

#video-container {
  position: relative;
  width: 390px;
  height: 844px;
  overflow: hidden;
  margin: 0 auto;
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  /* object-fit: cover; */
}

/* #overlay-image {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 20; 
} */

#overlay-image {
  width: 350px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: scale-down;
}

.description {
  position: relative;
  top: 5%;
  text-align: center;
  z-index: 10;
}

#description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 30;
}

#description-overlay.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #598ef8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
